<md-dialog id="lista-vinculados" flex-gt-xs="40" flex-xs="80" aria-label="Horarios">
    <md-toolbar class="header" layout-align="center" flex="100">
        <div class="md-toolbar-tools">
            <span flex="60">Inscritos no treinamento {{home.listaAtual.nome}}</span>
            <md-input-container flex="40" layout="row" layout-align="end ">
                <input class="search" type="text " layout-align="start " ng-model="home.searchList" title="Busque o usuário " ng-model-options="{ debounce: 200 } " aria-label="Busque o usuário " />
                <i class="material-icons ">search</i>
            </md-input-container>
        </div>
    </md-toolbar>

    <md-list class="md-dense " flex>
        <md-subheader class="md-no-sticky">{{colabFiltered.length}} {{colabFiltered.length>1?"colaboradores":"colaborador"}}</md-subheader>
        <div class="lista">
            <md-list-item class="md-3-line" ng-repeat="colaborador in home.listaAtual.colaboradores | filter:home.searchList as colabFiltered">
                <div class="md-list-item-text" layout="column">
                    <h3>{{colaborador.nome}}</h3>
                    <p>{{colaborador.local}} / {{colaborador.setor}}</p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </div>
    </md-list>
</md-dialog>