#home {
    max-height: 100%;
    position: relative;
    height: calc(100vh - 75px);
    overflow: scroll;
    overflow-y: hidden;
    padding: 10px;
    md-card {
        margin-left: 2%;
        span.md-headline {
            background-color: #03a9f4;
            padding: 0 8px;
        }
        div {
            padding: 5px;
        }
    }
    md-card md-card-title {
        padding: 0 12px;
    }
    .headerList {
        background-color: rgba(158, 158, 158, 0.2);
        font-weight: bold;
    }
    .md-list-users-text {
        button {
            padding-top: 10px
        }
    }
    .md-subheader-inner {
        display: block;
        padding: 5px 0px 5px 15px!important;
    }
    .event-details {
        overflow: auto;
        overflow-x: hidden;
        height: calc(100vh - 150px);
    }
    .md-select-top {
        position: relative;
        top: -16px;
    }
}