<md-content class="md-padding" layout="row" flex="100" layout-wrap>
    <div layout="row" flex="100">
        <md-button class="md-fab md-primary" ng-click="generatePic()" aria-label="Imprima seu certificado!">
            <!-- <md-icon md-svg-src="img/icons/android.svg"></md-icon> -->
            <i class="material-icons print">print</i>
        </md-button>
        <!-- <button >Imprimir certificado</button> -->
    </div>
    <div id="certificado" flex="100" layout="row" layout-align="center" layout-wrap>
        <div class="page page1" layout-align="center" layout="row" layout-wrap>
            <div class="header" layout="row" flex="80" layout-align="space-between center">
                <img flex="25" src="/media/logos/logo_band_pdf_padrao.png" />

                <img flex="25" src="/media/logos/logo_deicmar_pdf_padrao.png" />

                <img flex="25" src="/media/logos/logo_direx_pdf_padrao.png" />
            </div>
            <p layout="row" layout-align="center center" flex="100" class="title">CERTIFICADO</p>
            <p class="text-center" flex="80" layout-wrap>
                A Bandeirantes Logística Integrada, confere o presente certificado a
                <b>{{colaborador.nome}}, </b>
                por ter participado do curso de
                <b>{{treinamento.nome}},</b>
                realizado no dia {{dataCabecalho(treinamento.data)}}, totalizando carga horária de {{treinamento.cargaHoraria}}.
            </p>
            <div layout="row" flex="100">
                <p layout-align="center center" layout="row" flex="35" layout-wrap>
                    <img flex="50" ng-src="/media/assinaturas/{{treinamento.instrutor.id}}.png" />
                    {{treinamento.instrutor.nome}}
                </p>
                <p layout-align="center center" layout="row" flex="35">
                    Santos, 19 de fevereiro de 2018.
                </p>
                <div layout="row" flex="30" layout-align="start center">
                    <img class="medal" src="/media/celo.png" />
                </div>
            </div>
            <!-- <div layout="row" flex="100" class="footer" layout-wrap layout-align="end end">
                <div layout="row" flex="100" class="green-line">&nbsp;</div>
                <div layout="row" flex="100" class="blue-line">&nbsp;</div>
            </div> -->
            <div layout="row" flex="100" class="footer" layout-wrap layout-align="end end">
                <div layout="row" flex="100" class="green-line">&nbsp;</div>
                <div layout="row" flex="100" class="blue-line">&nbsp;</div>
            </div>
        </div>
        <div class="page-break"></div>
        <div class="page page2" layout="row" layout-wrap layout-align="center">
            <div layout="row" layout-wrap layout-align="center end" flex="100">
                <table layout-align="center end" layout="row" flex="80">
                    <th ng-init="background = false">Conteúdo Programático</th>
 <!-- ng-class="{'alter-row':background}" -->
                    <tr class="{{conteudoProgClass()}}"  ng-repeat="conteudoProgra in treinamento.conteudoProgramatico">
                        <td>- {{conteudoProgra}}</td>
                    </tr>
                </table>
            </div>
                      
            <div layout="row" flex="100" class="footer" layout-wrap layout-align="end end">
                <div layout="row" flex="100" class="green-line">&nbsp;</div>
                <div layout="row" flex="100" class="blue-line">&nbsp;</div>
            </div>
        </div>
    </div>       
</md-content>