<md-content layout="row" flex="100" layout-wrap>
    <div flex="30" flex-xs="100">
        <md-card>
            <span class="md-headline" flex="100" layout="row" layout-wrap>{{treinamento.nome}}</span>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead" flex="100" layout="row" layout-wrap>
                        <span flex="100"><strong>Descritivo:</strong> {{treinamento.desc}}</span>
                        <span flex="100"><strong>Quando será realizado:</strong> {{treinamento.data |date:'dd/MM/yy'}}</span>                
                        <span flex="100"><strong>Local:</strong> {{treinamento.local}}</span>
                        <span flex="100" layout="row">
                            <i class="material-icons">access_time</i>
                            <span layout-align="center center ">Das {{treinamento.horario.inicio}} até {{treinamento.horario.fim}}</span>
                        </span>
                        <span flex="100" layout="row">
                            <i class="material-icons">location_on</i>
                            <span layout-align="center center ">{{treinamento.endereco}}</span>
                        </span>
                    </span>                
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
    <div flex="30" flex-xs="100">
        <md-card>
            <span class="md-headline" flex="100" layout="row" layout-wrap>Informações Técnicas</span>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead" flex="100" layout="row" layout-wrap>
                        <span flex="50">
                            <strong>Disponível:</strong> 
                            {{treinamento.lotacao - treinamento.colaboradores.length<=0? 'Lotado!':treinamento.lotacao - treinamento.colaboradores.length}}
                        </span>
                        <span flex="25">
                            <strong>Vagas:</strong> {{treinamento.lotacao}}</span>
                        <span flex="25"><strong>Inscritos:</strong> 
                            {{treinamento.colaboradores.length}}
                        </span>
                        <span flex="100" layout="row">
                            <strong>Pontos:</strong>
                            {{treinamento.pontuacao}}
                        </span>
                        <span flex="100" layout="row">
                            Os pontos serão computados somente quando finalizar o curso!
                        </span>
                        <span flex="100" layout="row">
                            <strong>Instrutor:</strong>
                            {{treinamento.instrutor.nome}}                            
                        </span>
                        <span flex="100" layout="row">
                            {{treinamento.instrutor.desc}}
                        </span>
                    </span>
                </md-card-title-text>
            </md-card-title>
        </md-card>        
        
    </div>
    <div flex="30" flex-xs="100">
        <md-card>
            <span class="md-headline" flex="100" layout="row" layout-wrap>Sobrando</span>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead" flex="100" layout="row" layout-wrap>
                        
                    </span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
    </div>
    <div flex="50">
        <md-button ng-disabled="candidatarBtn || !desCandidatarBtn" ng-click="candidatura()" class="md-raised md-primary" title="Clique para se candidatar nesse treinamento!">Me candidatar</md-button>
        <md-button ng-disabled="desCandidatarBtn" ng-click="candidatura('cancelar')" class="md-raised md-warn" title="Clique para cancelar candidatura desse treinamento!">Cancelar candidatura</md-button>
    </div>
</md-content>
